<section class="about" id="about" data-reveal aria-labelledby="about-title">
  <div class="container">
    <div class="about__wrapper">
      <picture class="about__picture" data-reveal-item="1">
        <source
          media="(min-width: 1440px)"
          srcset="img/illustrations/about-b.webp"
          width="384"
          height="833"
        />
        <img
          src="img/illustrations/about-b-mobile.webp"
          alt="Unlock Maps level screen"
          class="about__image"
          loading="lazy"
          width="258"
          height="559"
        />
      </picture>
      <div class="about__content">
        <h2 class="about__title" id="about-title" data-reveal-item="1">
          About the Game
        </h2>
        <p class="about__subtitle" data-reveal-item="2">
          A royal match-3 expedition across the globe
        </p>
        <p class="about__text" data-reveal-item="3">
          Royal Journey follows King William on a grand quest, traveling through
          enchanting cities and iconic landmarks while solving classic match-3
          puzzles. With thousands of levels and constantly expanding
          destinations, players uncover hidden stories tied to each location
          while enjoying seamless offline play.
        </p>
      </div>
      <picture class="about__picture" data-reveal-item="1">
        <source
          media="(min-width: 1440px)"
          srcset="img/illustrations/about-a.webp"
          width="384"
          height="833"
        />
        <img
          src="img/illustrations/about-a-mobile.webp"
          alt="Magic Items level screen"
          class="about__image"
          loading="lazy"
          width="258"
          height="559"
        />
      </picture>
    </div>
  </div>
</section>
