<section class="contact" id="contact" data-reveal>
  <div class="container">
    <div class="contact__card">
      <h2 data-reveal-item="1">Contact</h2>
      <p class="contact__subtitle" data-reveal-item="2">
        Ready to join King William’s journey?
      </p>
      <a
        class="contact__mail"
        href="mailto:info@rapidbanner.space"
        data-reveal-item="3"
      >
        <svg class="contact__icon" width="24" height="19" viewBox="0 0 30 24">
          <use class="icon" href="img/sprite.svg#icon-mail"></use>
        </svg>
        <span class="contact__address">
          info@rapidbanner.space
          <svg
            class="contact__arrow"
            width="16"
            height="16"
            viewBox="0 0 20 20"
          >
            <use class="icon" href="img/sprite.svg#icon-arrow"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
