<section class="faq" id="faq">
  <div class="container">
    <div class="faq__card">
      <div class="faq__intro">
        <h2>FAQ</h2>
        <p class="faq__subtitle">Quick answers</p>
      </div>

      <ul class="faq__list" data-faq>
        <li class="faq__item" data-faq-item>
          <button class="faq__question" type="button" data-faq-toggle>
            <svg class="faq__icon" width="24" height="24" viewBox="0 0 24 24">
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use class="faq__bar faq__bar--turn" href="img/sprite.svg#icon-minus"></use>
            </svg>
            Can I play Royal Journey offline?
          </button>
          <div class="faq__answer">
            <div class="faq__answer-inner">
              <p>Yes, the game supports offline play.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item>
          <button class="faq__question" type="button" data-faq-toggle>
            <svg class="faq__icon" width="24" height="24" viewBox="0 0 24 24">
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use class="faq__bar faq__bar--turn" href="img/sprite.svg#icon-minus"></use>
            </svg>
            How many levels does the game have?
          </button>
          <div class="faq__answer">
            <div class="faq__answer-inner">
              <p>Thousands of levels, with new ones added regularly.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item>
          <button class="faq__question" type="button" data-faq-toggle>
            <svg class="faq__icon" width="24" height="24" viewBox="0 0 24 24">
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use class="faq__bar faq__bar--turn" href="img/sprite.svg#icon-minus"></use>
            </svg>
            Is there a story behind each city?
          </button>
          <div class="faq__answer">
            <div class="faq__answer-inner">
              <p>Yes, each destination reveals its own hidden story.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item>
          <button class="faq__question" type="button" data-faq-toggle>
            <svg class="faq__icon" width="24" height="24" viewBox="0 0 24 24">
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use class="faq__bar faq__bar--turn" href="img/sprite.svg#icon-minus"></use>
            </svg>
            Is there a way to compete with other players?
          </button>
          <div class="faq__answer">
            <div class="faq__answer-inner">
              <p>Yes, a global leaderboard tracks player progress.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item>
          <button class="faq__question" type="button" data-faq-toggle>
            <svg class="faq__icon" width="24" height="24" viewBox="0 0 24 24">
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use class="faq__bar faq__bar--turn" href="img/sprite.svg#icon-minus"></use>
            </svg>
            Is the game free to play?
          </button>
          <div class="faq__answer">
            <div class="faq__answer-inner">
              <p>Yes, with optional in-game purchases available.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
