<section class="faq" id="faq" data-reveal aria-labelledby="faq-title">
  <div class="container">
    <div class="faq__card">
      <div class="faq__intro">
        <h2 id="faq-title" data-reveal-item="1">FAQ</h2>
        <p class="faq__subtitle" data-reveal-item="2">Quick answers</p>
      </div>

      <ul class="faq__list" data-faq>
        <li class="faq__item" data-faq-item data-reveal-item="3">
          <button
            class="faq__question"
            type="button"
            data-faq-toggle
            id="faq-button-1"
            aria-expanded="false"
            aria-controls="faq-answer-1"
          >
            <svg
              class="faq__icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use
                class="faq__bar faq__bar--turn"
                href="img/sprite.svg#icon-minus"
              ></use>
            </svg>
            Can I play Royal Journey offline?
          </button>
          <div
            class="faq__answer"
            id="faq-answer-1"
            data-faq-panel
            role="region"
            aria-labelledby="faq-button-1"
            hidden
          >
            <div class="faq__answer-inner">
              <p>Yes, the game supports offline play.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item data-reveal-item="4">
          <button
            class="faq__question"
            type="button"
            data-faq-toggle
            id="faq-button-2"
            aria-expanded="false"
            aria-controls="faq-answer-2"
          >
            <svg
              class="faq__icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use
                class="faq__bar faq__bar--turn"
                href="img/sprite.svg#icon-minus"
              ></use>
            </svg>
            How many levels does the game have?
          </button>
          <div
            class="faq__answer"
            id="faq-answer-2"
            data-faq-panel
            role="region"
            aria-labelledby="faq-button-2"
            hidden
          >
            <div class="faq__answer-inner">
              <p>Thousands of levels, with new ones added regularly.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item data-reveal-item="5">
          <button
            class="faq__question"
            type="button"
            data-faq-toggle
            id="faq-button-3"
            aria-expanded="false"
            aria-controls="faq-answer-3"
          >
            <svg
              class="faq__icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use
                class="faq__bar faq__bar--turn"
                href="img/sprite.svg#icon-minus"
              ></use>
            </svg>
            Is there a story behind each city?
          </button>
          <div
            class="faq__answer"
            id="faq-answer-3"
            data-faq-panel
            role="region"
            aria-labelledby="faq-button-3"
            hidden
          >
            <div class="faq__answer-inner">
              <p>Yes, each destination reveals its own hidden story.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item data-reveal-item="6">
          <button
            class="faq__question"
            type="button"
            data-faq-toggle
            id="faq-button-4"
            aria-expanded="false"
            aria-controls="faq-answer-4"
          >
            <svg
              class="faq__icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use
                class="faq__bar faq__bar--turn"
                href="img/sprite.svg#icon-minus"
              ></use>
            </svg>
            Is there a way to compete with other players?
          </button>
          <div
            class="faq__answer"
            id="faq-answer-4"
            data-faq-panel
            role="region"
            aria-labelledby="faq-button-4"
            hidden
          >
            <div class="faq__answer-inner">
              <p>Yes, a global leaderboard tracks player progress.</p>
            </div>
          </div>
        </li>

        <li class="faq__item" data-faq-item data-reveal-item="7">
          <button
            class="faq__question"
            type="button"
            data-faq-toggle
            id="faq-button-5"
            aria-expanded="false"
            aria-controls="faq-answer-5"
          >
            <svg
              class="faq__icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <use class="faq__bar" href="img/sprite.svg#icon-minus"></use>
              <use
                class="faq__bar faq__bar--turn"
                href="img/sprite.svg#icon-minus"
              ></use>
            </svg>
            Is the game free to play?
          </button>
          <div
            class="faq__answer"
            id="faq-answer-5"
            data-faq-panel
            role="region"
            aria-labelledby="faq-button-5"
            hidden
          >
            <div class="faq__answer-inner">
              <p>Yes, with optional in-game purchases available.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
