<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="footer__logo" href="./index.html">Royal Journey</a>
      <ul class="footer__menu">
        <li>
          <a class="footer__link" href="./privacy.html">Privacy Policy</a>
        </li>
        <li>
          <a class="footer__link" href="./terms.html">Terms of Service</a>
        </li>
      </ul>
    </div>
    <p class="footer__copyright">
      © 2026 rapidbanner.space — All rights reserved.
    </p>
  </div>
</footer>
