<header class="header">
  <div class="container">
    <nav class="nav" aria-label="Primary navigation">
      <div class="nav__logo">
        <a href="#hero"><img src="./img/logo.webp" alt="Royal Journey" /></a>
      </div>
      <load src="partials/mobile-menu.html" />
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#hero" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="#about" class="menu__link">About </a>
        </li>
        <li class="menu__item">
          <a href="#how-to-play" class="menu__link">How to Play</a>
        </li>
        <li class="menu__item">
          <a href="#features" class="menu__link">Features</a>
        </li>
        <li class="menu__item">
          <a href="#faq" class="menu__link">FAQ</a>
        </li>
      </ul>
      <load src="partials/play-on.html" />
    </nav>
  </div>
</header>
