<section class="how-to-play" id="how-to-play" data-reveal>
  <div class="container">
    <picture>
      <source media="(min-width: 1440px)" srcset="img/bg/how-to-play.webp" />
      <img
        src="img/bg/how-to-play-mobile.webp"
        alt=""
        class="how-to-play__image"
        loading="lazy"
        width="258"
        height="559"
      />
    </picture>
    <div class="how-to-play__intro">
      <h2 class="how-to-play__title" data-reveal-item="1">How to Play</h2>
      <p class="how-to-play__subtitle" data-reveal-item="2">
        Simple matches, worldwide adventure
      </p>
    </div>
    <div class="how-to-play__slider swiper">
      <ul class="how-to-play__list swiper-wrapper">
        <li class="how-to-play__item swiper-slide" data-reveal-item="3">
          <article class="how-to-play__card">
            <div class="how-to-play__card-content">
              <h3 class="how-to-play__card-title">Swap & Match Tiles</h3>
              <p class="how-to-play__card-text">
                Match three or more identical items to clear the board.
              </p>
            </div>
            <img
              class="how-to-play__card-image"
              src="img/cards/step-1.webp"
              alt="step 1 image"
              width="608"
              height="416"
              loading="lazy"
            />
          </article>
        </li>
        <li class="how-to-play__item swiper-slide" data-reveal-item="4">
          <article class="how-to-play__card">
            <div class="how-to-play__card-content">
              <h3 class="how-to-play__card-title">Travel Between Cities</h3>
              <p class="how-to-play__card-text">
                Progress unlocks new destinations around the world.
              </p>
            </div>
            <img
              class="how-to-play__card-image"
              src="img/cards/step-2.webp"
              alt="step 2 image"
              width="608"
              height="416"
              loading="lazy"
            />
          </article>
        </li>
        <li class="how-to-play__item swiper-slide" data-reveal-item="5">
          <article class="how-to-play__card">
            <div class="how-to-play__card-content">
              <h3 class="how-to-play__card-title">Complete Level Objectives</h3>
              <p class="how-to-play__card-text">
                Solve puzzles to advance King William's journey.
              </p>
            </div>
            <img
              class="how-to-play__card-image"
              src="img/cards/step-3.webp"
              alt="step 3 image"
              width="608"
              height="416"
              loading="lazy"
            />
          </article>
        </li>
        <li class="how-to-play__item swiper-slide" data-reveal-item="6">
          <article class="how-to-play__card">
            <div class="how-to-play__card-content">
              <h3 class="how-to-play__card-title">Collect Royal Rewards</h3>
              <p class="how-to-play__card-text">
                Earn treasures and bonuses as you progress.
              </p>
            </div>
            <img
              class="how-to-play__card-image"
              src="img/cards/step-4.webp"
              alt="step 4 image"
              width="608"
              height="412"
              loading="lazy"
            />
          </article>
        </li>
        <li class="how-to-play__item swiper-slide" data-reveal-item="7">
          <article class="how-to-play__card">
            <div class="how-to-play__card-content">
              <h3 class="how-to-play__card-title">Play Anytime, Anywhere</h3>
              <p class="how-to-play__card-text">
                Enjoy offline play with no connection required.
              </p>
            </div>
            <img
              class="how-to-play__card-image"
              src="img/cards/step-5.webp"
              alt="step 5 image"
              width="608"
              height="416"
              loading="lazy"
            />
          </article>
        </li>
      </ul>
    </div>
    <div class="how-to-play__pagination swiper-pagination"></div>

    <picture>
      <source media="(min-width: 1440px)" srcset="img/decor/arc.webp" />
      <img
        src="img/decor/curtain-mob-2.webp"
        alt=""
        class="how-to-play__footer-image"
        loading="lazy"
        width="376"
        height="243"
      />
    </picture>
  </div>
</section>
