<div class="mobile-menu" data-mobile-menu>
  <svg
    class="icon"
    data-mobile-menu-icon
    width="44"
    height="30"
    viewBox="0 0 44 30"
  >
    <use class="icon-burger" href="img/sprite.svg#icon-burger"></use>
    <use class="icon-close" href="img/sprite.svg#icon-close"></use>
  </svg>

  <div class="mobile-menu__list__wrapper" data-mobile-menu-list-wrapper>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">About </a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">How to Play</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">Features</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#" class="mobile-menu__link">FAQ</a>
      </li>
    </ul>
  </div>
</div>
