<button
  type="button"
  class="mobile-menu"
  data-mobile-menu
  data-open="false"
  aria-expanded="false"
  aria-controls="mobile-menu-panel"
  aria-label="Open menu"
>
  <svg
    class="icon icon-burger"
    width="44"
    height="30"
    viewBox="0 0 44 30"
    aria-hidden="true"
  >
    <use href="img/sprite.svg#icon-burger"></use>
  </svg>

  <svg
    class="icon icon-close"
    width="38"
    height="38"
    viewBox="0 0 38 38"
    aria-hidden="true"
  >
    <use href="img/sprite.svg#icon-close"></use>
  </svg>
</button>

<div
  class="mobile-menu__wrapper"
  id="mobile-menu-panel"
  data-mobile-menu-list-wrapper
  data-open="false"
  aria-hidden="true"
>
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#hero" class="mobile-menu__link" data-mobile-menu-link>Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#about" class="mobile-menu__link" data-mobile-menu-link
        >About
      </a>
    </li>
    <li class="mobile-menu__item">
      <a href="#how-to-play" class="mobile-menu__link" data-mobile-menu-link
        >How to Play</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#features" class="mobile-menu__link" data-mobile-menu-link
        >Features</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#faq" class="mobile-menu__link" data-mobile-menu-link>FAQ</a>
    </li>
  </ul>

  <div class="mobile-menu__btn">
    <load src="partials/play-on-mobile.html" />
  </div>
</div>
