.footer {
  padding-top: 32px;
  padding-bottom: 16px;
  background-color: var(--color-footer);
  color: var(--color-white);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 2px solid var(--color-white);
}

.footer__logo {
  font-family: var(--font-display);
  font-weight: var(--fw-medium);
  font-size: var(--fs-h3);
  line-height: var(--lh-heading);
  letter-spacing: var(--ls-h3);
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: var(--fw-medium);
  font-size: 12px;
  line-height: 1.25;
}

.footer__link {
  transition: opacity 300ms ease;
}

.footer__copyright {
  margin-top: 12px;
  font-weight: var(--fw-medium);
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
}

@media (hover: hover) {
  .footer__link:hover {
    opacity: 0.7;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footer__top {
    padding-bottom: 16px;
  }

  .footer__menu {
    flex-direction: row;
    gap: 71px;
    font-weight: var(--fw-regular);
    font-size: 16px;
    line-height: 1.375;
  }

  .footer__copyright {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.25;
  }
}
