.hero {
  margin: 0 auto;
  width: 100%;
  height: 800px;
  background: url('../img/bg/hero-mobile.webp') no-repeat center center;
  background-size: cover;
}
@media (min-width: 1440px) {
  .hero {
    height: 767px;
    background: url('../img/bg/hero.webp') no-repeat center center;
    background-size: cover;
  }
}
