.play-on-hero {
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 11px 22px;
  max-width: 320px;
  border-radius: var(--radius-card);
  border: 2px solid transparent;

  background: conic-gradient(
      from var(--angle),
      var(--gradient-play-on-border-stops)
    )
    border-box;

  box-shadow: var(--shadow-button);
  animation: border-rotate 2.8s linear infinite;
}

.play-on-hero::before {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: calc(var(--radius-card) - 2px);
  background-color: var(--color-batten);
  transition: background-color var(--transition-default);
  z-index: 0;
}

.play-on-hero > * {
  position: relative;
  z-index: 1;
}

.play-on-hero__icon {
  color: var(--color-white);
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
}

.play-on-hero__text {
  font-family: var(--font-body);
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  text-align: left;
  line-height: 100%;
  letter-spacing: var(--ls-body);
  color: var(--color-white);
}

@media (prefers-reduced-motion: reduce) {
  .play-on::before {
    transition: none;
  }
}

@media (hover: hover) {
  .play-on-hero:hover::before {
    background-color: var(--color-accent);
  }
}

@media only screen and (min-width: 1440px) {
  .play-on-hero {
    width: 282px;
    padding: 12px 44px;
  }
}
